@font-face {
    font-family: mukta;
    src: url(./Mukta-Regular.ttf);
}

html {
    height: 100%;
    font-family: mukta, sans-serif;
}
body {
    display: flex;
    height: 100%;
    margin: 0;
}
.logo {
    width: 6rem;
    height: 6rem;
}
.left-side {
    --lsidewidth: 35%;
    display: flex;
    justify-content: center;
    background-image: url(./background.jpg);
    background-size: cover;
    flex: 1 0 var(--lsidewidth);
}
.banner {
    background-color: rgba(108, 122, 137, .75);
    color: white;
    margin-top: 15rem;
    padding: 1rem;
    height: fit-content;
    align-items: center;
    justify-content: center;
    display: flex;
    white-space: nowrap;
    width: 100%;
    gap: 1rem;
    font-size: 3rem;

}
.right-side {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1 1 calc(1 - var(--lsidewidth));
}
.header {
    margin-top: 5rem;
    font-weight: bold;
    font-size: 1.5rem;
}
.header, .log-in {
    padding-left: 2rem;
    padding-right: 7rem;
}
.log-in {
    font-size: 1.1rem;
}
form {
    --gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--gap);
    background-color: rgba(159, 159, 159, .1);
    padding: 2rem 12rem 2rem 2rem;
    
}
.form_header {
    flex-basis: 100%;
    font-size: 1.5rem;
}
.log-in-button, .form_header {
    color: rgb(201, 41, 41);
    font-weight: bold;
}
.column, .subcol {
    display: flex;
    flex-direction: column;
}
.column {
    --colgap: 1.5rem;
    /* Each col takes up 50% of row, need to adjust for form and col gap */
    flex-basis: calc(50% - (var(--gap)/2) - var(--colgap));
    flex-shrink: 1;
}
input {
    border-radius: .2rem;
    border: 1px solid grey;
    padding: 5px;
}
button[type='submit'] {
    background-color:  rgb(201, 41, 41);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: .5rem;
    margin-top: 1rem;
    padding: .5rem 3rem;
}